body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;} 
ul,ol{list-style-type:none;} 
ul li{ display:inline-block;}
a{text-decoration:none;} 
column, ul li,input,img,search,h1{vertical-align:middle;} 
header,regsiter{color:#999;}

.header{width:1300px;
        height:78px;
		background:url:('../images/bg-1.jpg');
		margin:0 auto;
		}


.header ul li ul li{display:inline-block;
              z-index:5; }

.header ul li ul li a{text-decoration:none;}

.header ul li:hover ul{display:block;
                     width:160px;
                     height:100px;
					 background:#fff;}
					
.header ul li ul{display:none;
              }

.header ul li{list-style:none;
           padding:5px;
		   color:#999;  }
		   
.header ul li a:hover{color:black;
                  background:#fff;}	
.header ul li:hover ul li{margin-top:10px;
                    }
				  
.header ul li a{color:#000;}	
	
		
.regsiter{width:1300px;
          height:35px;
		  background:#f9f9f9;
		  margin:0 auto;
		  }
.regsiter ul li a{display:inline-block;
               margin-left:10px;
			   margin-top:13px;
			   color:#999;}
			  
.regsiter ul {color:#999;
			 font-size:12px;
		     margin-left:600px;}	
.regsiter ul li:hover a{color:#ec5923;}				

.content{width:1000px;
         background:#fff;
		 height:1850px;
		 position:relative;
		 margin:0 auto;}	
		 
.logo{width:1000px;
      height:122px;
	  background:#fff;
	  margin:0 auto;}

.form-text{width:350px;
           height:30px;
		   border:2px solid #16be6f;
		   margin:-95px 0 0 440px;}
		   
.form-text:hover{color:#666;} 

.from-type{width:40px;
           height:30px;
		   color:#fff;
		   background-color:#16be6f;
		   margin-top:-95px;
		  }	
.logo-banner{margin:-60px 0 0 800;}		  
.nav{width:1000px;
     height:40px;
     background:#fff;
	 margin:0 auto;
	 }
.nav ul li :hover{display:block;
               background:#16be6f;
			   color:#fff;}
			   
.nav ul li{margin-left:30px;
       }
.nav ul{margin-left:-30px;
       }

.nav ul li:hover ul{display:block;
                background-color:#16be6f; }
				
.nav ul li ul{ display:none;
           position:absolute;
		   width:100px;
		   height:120px;
          }
.nav ul li ul li{color:#fff;
           padding:3px;
		   margin:0 20px 0 20;
		   font-size:12px;
		   }
.nav ul li ul li:hover a{display:block;
                   background:#0c7747;}
				 
.nav ul li {font-size:16px;
        font-family:"微软雅黑";
	    margin-top:10px;
	    }
.nav ul li ul li a{color:#000;}
.nav ul li a{color:#000;}	

.leftsidebar{width:1000px;
             height:40px;
			 background:#fff;
			 margin:12px 0 0 0;}

.leftsidebar ul li a{color:#3f4844;
                 font-size:14px;}
.leftsidebar ul li ul li a{
                   font-size:12px;
				   }
.leftsidebar ul li {color:#3f4844;}
.empty-hr{width:100%;
          height:2px;
		  background:#ccc;
		  margin-top:10px;}
		  
.process{width:1000px;
         height:353px;
		 background:#fff;
		 margin:0 auto;
		 margin-top:20px;}
		 
.process h2 a{color:#000;
             margin-top:10px;}	
			 
.process h2 a:hover{color:#eb5926;}

.chest{margin:-284px 0 0 320px;}
.floor{margin-top:20px;}

.process-img-1{margin:10px 0 0 10px;
               font-size:12px;}

.process-img{margin:-65px 0 0 330px;
             font-size:12px;}
.process-img-1 a{color:#3d4b57;}

.process-img a{color:#3d4b57;}	

.process-img-1 a:hover{color:#ea5924;}

.process-img a:hover{color:#ea5924;}	
.process-h1{margin:-285px 0 0 645px;}
.process-h2{margin:5px 0 0 645px;}
.process-h3{margin:5px 0 0 645px;}
.process-h1 a,.process-h2 a,.process-h3 a{color:#3d4b57;}
.process-h1 a:hover,.process-h2 a:hover,.process-h3 a:hover{color:#ea5924;}

.process-list{width:300px;
              height:30px;
	          background:#000;
	          margin:-100px 0 0 0px;
	          opacity:0.8;
	          color:#fff;}
			  
.process-list-1{width:300px;
                height:30px;
	            background:#000;
	            margin:-30px 0 0 320px;
	            opacity:0.8;
	            color:#fff;}
.process-list-1,.process-list{font-size:12px;}				
.process-list-1 p,.process-list p{margin-left:35px;
                                 line-height:30px;}			  			  
.service{width:1000px;
         height:400px;
		 background:#fff;
		 margin:0 auto;
		 margin-top:40px;}
		 
.service ul li{margin-top:-35px;
             color:#999;
			 font-size:10px;}
			 
.service ul{margin-left:450px;
          }	
.service h2 a{color:#000;
             margin-left:5px;}	
.service h2 a:hover{color:#ea5924;}

.bed{margin:40 0 0 5px;}
.drawing-room{margin:-285px 0 0 320px;}

.service-img-1{margin:10px 0 0 10px;
               font-size:12px;}

.service-img{margin:-64px 0 0 330px;
             font-size:12px;}
			 
.service-img-1 a{color:#3d4b57;}

.service-img a{color:#3d4b57;}	

.service-img-1 a:hover{color:#ea5924;}

.service-img a:hover{color:#ea5924;}	
.service-h1{margin:-286px 0 0 645px;}
.service-h2{margin:5px 0 0 645px;}
.service-h3{margin:5px 0 0 645px;}
.service-h1 a,.service-h2 a,.service-h3 a{color:#3d4b57;}
.service-h1 a:hover,.service-h2 a:hover,.service-h3 a:hover{color:#ea5924;}
.service-list{width:300px;
              height:30px;
	          background:#000;
	          margin:-100px 0 0 5px;
	          opacity:0.8;
	          color:#fff;}
			  
.service-tag{width:300px;
             height:30px;
	         background:#000;
	         margin:-30px 0 0 320px;
	         opacity:0.8;
	         color:#fff;}
			 
.service-list,.service-tag{font-size:10px;
                           text-align:center;
						   line-height:30px;}	
.warm-room{width:1000px;
           height:340px;
		   background:#fff;
		   margin:0 auto;
		   margin-top:40px;
		}
.warm-room h2 a,.special-subject h2 a{color:#000;
                                   margin-left:5px;
			                       }
.warm-room  h2 a:hover,.special-subject h2 a:hover{color:#ea5924;}						   
			 
.warm-room img-2{margin-left:-30px;}
.warm-room p{color:#3d4b57;
            font-size:14px;
			margin:10px 0 0 60px;}
.sign-1{margin:-150px 0 0 130px;
        opacity:0.5;}		
.sign-2{margin:-150px 0 0 280px;
         opacity:0.5;}
.sign-3{margin:-150px 0 0 290px;
         opacity:0.5;}
.special-subject{width:1000px;
                 height:450px;
		         background:#fff;
		         margin:0 auto;
		         }			
.special-1{margin-top:20px;}
.special-2{margin:-150px 0 0 10px;}
.special-3{margin:-150px 0 0 513px;}
.special-subject dl{float:right;
                   margin:-320px 70px 0 0;}
					 
.special-subject dl dt a{font-size:14px;
                      color:#3d4b57;
					  line-height:35px;}
.special-subject dl dt a:hover{color:#ea5924;}					  
.special-subject dl dt h4{color:#000;
                       font-weight:lighter;}	
.link{width:100%;
      height:190px;
	  background:#f8f8f8;
	  margin-top:10px;}
	  
.link ul li {padding:20px;
         margin-left:20px;}
.link ul li a{ font-size:12px;
		   color:#3e4042;}	
		   
.empty-1{width:100%px;
         height:1px;
	     background:#ccc;
	     margin-left:20px;}
	   
.link p{font-size:10px;
        padding:20px;
		color:#999;
		margin-left:20px;}	
		
.link dl a{margin:-130px 0 0 700px;
         font-size:12px;
		 color:#999;}
		
.link ul li:hover a{color:#ea5924;}	
	
.link dl dt a{color:#3e4042;}

.link dl dt{padding:5px;
         margin-top:-120px;}
		 
.link dl dt a:hover{color:#ea5924;}
.link dl dt dd a{color:#999;}	

.empty-1{width:100%;
         height:2px;
	     background:#0daf63;
	     }
.footer{width:100%;
        height:200px;
		background:#000;
		opacity:0.8;
		margin:0 auto;
		margin-top:-3px;}
		
.footer ul li{
           margin-top:30px;
		   padding:5px;
		   font-size:10px;}
		   
.footer ul li a{color:#999;}

.footer ul{text-align:center;
          color:#000;}
		 
.footer p{font-size:10px;
         color:#999;
		 text-align:center;
	     padding:5px;}
		 
.footer ul li:hover a{color:#ec5923;}		  
